.about {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: {
        left: 20px;
        right: 20px;
    }
}

.header {
    justify-self: center;
    align-self: end;
    font-family: RalewayBold;
    font-size: 3em;
    user-select: none;
    text-decoration: underline;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.photo {
    height: 320px;
    border-radius: 50%;
}

.text {
    // place-self: center;
    font-size: 1.5em;
    width: 700px;
}

.bullets {
    display: flex;
    justify-content: center;
    gap: 150px;
}
