.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: start;
    width: 150px;
}

.bullet {
    width: 100px;
    height: 100px;
    background: #205295;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    svg {
        fill: #ecf0f1;
        height: 60px;
    }
}

.header {
    font-family: RalewayBold;
    font-size: 1.4em;
}

.text {
    text-align: center;
}