.greetings {
    height: 100vh;
    background: linear-gradient(
        60deg,
        rgba(84, 58, 183, 1) 0%,
        rgba(0, 172, 193, 1) 100%
    );

    background: linear-gradient(
        60deg,
        rgb(32, 82, 149) 0%,
        rgb(44, 116, 179) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.text {
    color: #ecf0f1;
    font-size: 2.8em;
    user-select: none;
    text-align: center;
    span {
        font-family: RalewaySemiBold;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
        color: #e31b6d;
    }
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    li {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

        &:nth-child(1) {
            left: 10%;
            width: 45px;
            height: 45px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        &:nth-child(2) {
            left: 20%;
            width: 30px;
            height: 30px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        &:nth-child(3) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }

        &:nth-child(4) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        &:nth-child(5) {
            left: 42%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        &:nth-child(6) {
            left: 50%;
            width: 35px;
            height: 35px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        &:nth-child(7) {
            left: 65%;
            width: 25px;
            height: 25px;
            animation-delay: 0s;
        }

        &:nth-child(8) {
            left: 70%;
            width: 40px;
            height: 40px;
            animation-delay: 4s;
        }

        &:nth-child(9) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        &:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
