.skills {
    height: 100vh;
    width: auto;
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: {
        left: 20px;
        right: 20px;
    }
}

.header {
    justify-self: center;
    align-self: end;
    font-family: RalewayBold;
    font-size: 3em;
    user-select: none;
    text-decoration: underline;
}
