.button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ecf0f1;
    background: transparent;
    transition: box-shadow 300ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    font-size: 0.9em;

    svg {
        fill: #ecf0f1;
        transition: transform 200ms linear;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        -webkit-box-shadow: 0px 0px 5px 0.1px rgba(236, 240, 241, 1);
        -moz-box-shadow: 0px 0px 5px 0.1px rgba(236, 240, 241, 1);
        box-shadow: 0px 0px 5px 0.1px rgba(236, 240, 241, 1);

        svg {
            transform: rotate(90deg);
        }
    }
}
