.app {
    background-image: linear-gradient(
        to right bottom,
        #3c6382,
        #337592,
        #2a889f,
        #289ba6,
        #38ada9
    );
    width: 100vw;
    height: 100vh;
}
